<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="text">
        <p>Pagina creada por {{name}} para la clase TC2002S</p>
    </div>
    {{>footer}}
</body>

</html>