<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="text">
        <h2>Si necesitas ayuda, puedes contactarnos</h2>
    </div>
    {{>footer}}
</body>

</html>